@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css);.img-logo {
  max-height: 50px;
}

.img-one {
  max-width: 100%;
}

.img-two {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.asd {
  background-color: red;
}

.asdd {
  background-color: blue;
}

.nopadding {
  padding-left: 0;
  padding-right: 0;
}

.toppadding {
  padding-top: 25px;
}

.center {
  text-align: center !important;
  align-items: center;
  justify-content: center;
  display: flex;
}

.navbar-padding {
  margin-top: 25px;
  padding-left: 0;
  padding-right: 0;
}

.heightfull {
  max-height: 100%;
}

.topmargin {
  margin-top: 25px;
}

.vertical-content-align {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

